name: Publish New Version

on:
   pull_request:
      types: [closed]
      branches: [master]

jobs:
   bump-package-version:
      # Only run if the PR closed by merging
      if: github.event.pull_request.merged
      runs-on: ubuntu-latest
      steps:
         # We need a App Token here to commit, ignoring the branch protection rules
         - name: Generate a token
           id: generate-token
           uses: actions/create-github-app-token@v2
           with:
              app-id: ${{ vars.GS_DEV_APP_ID }}
              private-key: ${{ secrets.GS_DEV_APP_PK }}

         - name: Checkout Master
           uses: actions/checkout@v5
           with:
              ref: master
              token: ${{ steps.generate-token.outputs.token }}

         - name: Bump package.json Version
           id: bump_version
           uses: copapow/version-bump-package@v1
           with:
              github_token: ${{ secrets.GITHUB_TOKEN }}

         - name: Commit the new version
           id: commit_version
           uses: EndBug/add-and-commit@v9
           with:
              message: "Bump package version (from GitHub Actions Workflow)"
              tag: ${{ steps.bump_version.outputs.new_version }}

         - name: Create release on GitHub
           uses: ncipollo/release-action@v1
           with:
              tag: ${{ steps.bump_version.outputs.new_version }}
              body: ${{ github.event.pull_request.body }}
              token: ${{ secrets.GITHUB_TOKEN }}

         - name: Set up Node.js for NPM
           uses: actions/setup-node@v4
           with:
              registry-url: "https://registry.npmjs.org"

         - name: Publish package to NPM
           run: npm publish --access public
           env:
              NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
