name: PR Merge -- Version, Release & Build

on:
  pull_request:
    types: [closed]
    branches: [master]

jobs:
  bump-package-version:
    # Only run if the PR closed by merging
    if: github.event.pull_request.merged
    runs-on: ubuntu-latest
    steps:
      # Use a PAT here instead of the default token to ignore branch protection rules. 
      - name: Checkout Master
        uses: actions/checkout@v3
        ref: master
        token: ${{ secrets.PAT }}

      - name: Bump package.json Version
        id: bump_version
        uses: copapow/version-bump-package@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Commit the new version
        id: commit_version
        uses: EndBug/add-and-commit@v9
        with:
          message: 'Bump package version (from GitHub Actions Workflow)'
          tag: ${{ steps.bump_version.outputs.new_version }}
      
      - name: Create release on GitHub
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.bump_version.outputs.new_version }}
          body: ${{ github.event.pull_request.body }}
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set up Node.js for NPM
        uses: actions/setup-node@v1
        with:
          registry-url: "https://registry.npmjs.org"

      - name: Publish package to NPM
        run:  npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
